.student-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding: 30px 20px;
  border: 2px solid black;
}
input {
  min-width: 100%;
  border-radius: 12px;
  padding: 6px 8px;
  border: 2px solid lightgray;
  outline: none;
}
.template-nav__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.template-nav__list li {
  list-style-type: none;
  font-weight: bold;
  font-size: 18px;
}
.template__list {
  /* display: flex; */
  list-style-type: none;
  padding: 0;
}
.student {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.student__elem {
  list-style-type: none;
  padding: 5px;
  max-width: 90px;
}
